<mat-toolbar color="primary" class="hero-toolbar">
  <div class="brand">
    <img
      ngSrc="assets/img/logo_tekhnehub.png"
      alt="Logo TekhneHub"
      width="40"
      height="40"
      class="logo-img"
    />
  </div>

 <nav class="nav-links">
    <button mat-button (click)="scrollToSection('nosotros-section')">Nosotros</button>
    <button mat-button (click)="scrollToSection('soluciones-section')">Soluciones</button>
    <button mat-button (click)="scrollToSection('contacto-section')">Contacto</button>
  </nav>
</mat-toolbar>
