.nosotros-section {
  padding: 4rem 2rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  color: black;
}

mat-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
  font-size: 32px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
